#app {
  img {
    margin-top: -2.5em;
    padding-bottom: 3px;
    width: 214px;
    height: 214px;
  }
  h1 {
    color: #dd1b16;
    padding-left: 5%;
    padding-right: 5%;
  }
  div.crypto-container {
    background: rgba(192, 192, 192, .3);
    width: 80%;
    margin: 1px auto 6px auto;
    padding: 1.8em;
    border-radius: 15px;
      span.left {
        font-weight: bold;
        float: left;
        position: relative;
        bottom: .5em;
      }
      span.right {
        float: right;
        position: relative;
        bottom: .5em;
      }
      span#symbol{
        color: #dd1b16;
      }
  }
  footer {
    padding-top: 5px;
      span.credentials {
        color: #dd1b16;
      }
  }
}



