<div id="app">
        <img src="../assets/logo.png">
        <h1>{{ title }}</h1>
    <div *ngIf="cryptos">
        <div class="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
            <span class="left">{{ crypto }}</span>
            <span class="right"><span id="symbol">R</span>&nbsp;{{ cryptos[crypto].ZAR }}</span><!--{{ cryptos[crypto].ZAR | currency:'ZAR':true }}-->
        </div>
    </div>
    <footer>
        <span> Made with <span class="credentials">{{ app }}</span> by <span class="credentials">{{ name }}</span></span>
    </footer>
</div>